
.Title[b-i88noeftkn]{
    justify-content:center;
    text-align:center;
    font-size:30px;
}
body[b-i88noeftkn]{

}
.CLetter[b-i88noeftkn] {
    font-size: 50px;
    color:cornflowerblue;
    text-decoration:underline;
}
