
.login-box[b-uopom7lyrn] {
    margin-top: 75px;
    height: auto;
    background: #0DB8DE;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key[b-uopom7lyrn] {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: #222D32;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title[b-uopom7lyrn] {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form[b-uopom7lyrn] {
    margin-top: 25px;
}

input[type=text][b-uopom7lyrn] {
    background-color: #efefef;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
}

input[type=password][b-uopom7lyrn] {
    background-color: #efefef;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
}

.form-group[b-uopom7lyrn] {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus[b-uopom7lyrn] {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
}

input:focus[b-uopom7lyrn] {
    outline: none;
    box-shadow: 0 0 0;
}

label[b-uopom7lyrn] {
    margin-bottom: 0px;
}

.form-control-label[b-uopom7lyrn] {
    font-size: 20px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary[b-uopom7lyrn] {
    border-radius: 7px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    .btn-outline-primary:hover[b-uopom7lyrn] {
        background-color: #0DB8DE;
        right: 0px;
    }

.login-btm[b-uopom7lyrn] {
    margin: 0 auto
}

.login-button[b-uopom7lyrn] {
    padding-right: 0px;
    margin-bottom: 25px;
}

.login-text[b-uopom7lyrn] {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm[b-uopom7lyrn] {
    padding: 0px;
}
